body,
html {
  height: 100%;
  margin: 0;
}

.container {
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: content-box;
  display: grid;
  gap: 15px;
  grid-template-columns: 25% 75%;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #ffde22;
  grid-column: span 2;
}

.sidebar {
  background-color: #ff7755;
  grid-column: 1;
  grid-row: 2 / 4;
}

.nav {
  background-color: #00ddff;
}

.article {
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
  grid-row: 3 / 4;
}

.footer {
  background-color: #393f4d;
  grid-column: span 2;
}
